.navbar-toggler {
    background-color: var(--color-nav-toggler);
}

.top-row {
    min-height: 3.5rem;
    background-color: var(--color-nav-bg);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("icons/house-door-fill.svg");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("icons/plus-square-fill.svg");
}

.bi-list-nested-nav-menu {
    background-image: url("icons/list-nested.svg");
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: var(--color-nav-link);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: var(--color-nav-active);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: var(--color-nav-hover);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
